<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if current_user.admin %>

    <div class="field">
      <%= form.label :do_payment_at, 'Hacer el pago el' %>
      <%= form.date_select :do_payment_at %>
    </div>

    <div class="field">
      <%= form.label :details, 'Mas detalles' %>
      <%= form.text_area :details %>
    </div>

    <!-- <div class="field">
      <%#= form.label :paid_at %>
      <%#= form.date_select :paid_at %>
    </div>

    <div class="field">
      <%#= form.label :user_id %>
      <%#= form.text_field :user_id %>
    </div> -->
  <% end %>

  <% if current_user.admin %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <% unless current_user.admin  %>
    <div class="field">
      <%= form.label :file, 'Archivo' %>
      <%= form.file_field :file %>
    </div>
  <% else %>
    <p>
      <strong>File:</strong>
      <%= image_tag @bill.file %>
    </p>
  <% end %>

  <% unless current_user.admin %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
