<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Registro</th>
      <th>Cliente</th>
      <th>Realizar pago</th>
      <th>Detalles</th>
      <!-- <th>Paid at</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= bill.user.name %></td>
        <td><%= bill.do_payment_at %></td>
        <td><%= bill.details %></td>
        <!-- <td><%#= bill.paid_at %></td> -->
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) if current_user.admin%></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_bill_path %>
