
<div class="container">
  <br><br>
  <div>

    <p>
      <strong>Factura:</strong>
      <%= link_to 'Ver PDF', @bill.file, target: '_blank' %>
    </p>
    
    <p>
      <strong>Debes realiza tu pago el dia: </strong>
      <%= @bill.do_payment_at.present? ? @bill.do_payment_at : 'Pronto te diremos cuando' %>
    </p>
    <% if @bill.details.present? %>
      <p>
        <strong>Mas detalles:</strong>
        <%= @bill.details %>
      </p>
    <% end %>
  </div>


  <!-- <p>
    <strong>Paid at:</strong>
    <%#= @bill.paid_at %>
  </p> -->

  <p><!-- 
    <%#= image_tag @bill.file, width: '900px' %>
  </p> -->


  <p>
    <strong>Usuario:</strong>
    <%= @bill.user.name %>
  </p>

  <%#= link_to 'Editar', edit_bill_path(@bill) %>
  <%= link_to 'Atras', bills_path %>
</div>
